body {
    background-color: antiquewhite;
    }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.submit-btn {
    border-radius: 80%;
}